.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;

    input {

        &:checked+.slider {
            background-color: #476173;

            &:before {
                transform: translateX(20px);
                background-color: transparent;
                border-radius: 50%;
                border-top-color: transparent;
                border-left-color: transparent;
                border-right-color: transparent;
                box-shadow: inset -5px -3px 0 #d8e9ef;
            }
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #7bb9f5;
        transition: .4s;
        border-radius: 20px;

        &:before {
            position: absolute;
            content: '';
            height: 16px;
            width: 16px;
            left: 4px;
            bottom: 4px;
            background-color: yellow;
            transition: .4s;
            border-radius: 50%;
        }
    }
}







/* Normal styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* background-color: #0707418c; */
}

::-webkit-scrollbar {
    display: none;
}

.hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/homeview.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
    color: white;
    text-align: center;
    padding-top: 14rem;
}

.hero-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}

.hero-logo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
    text-align: center !important;
}